<main>
    <div id="content_Artistasrock" class="content">
      <div class="content_titulos">
        <h3>Artitas Rock</h3>
      </div>

        <div class="content_cards"></div>
      </div>

      <div id="content_Artistaspop" class="content">
        <div class="content_titulos">
          <h3>Artitas pop</h3>
        </div>

        <div class="content_cards"></div>
      </div>

      <div id="content_ArtistasmusicaUrbana" class="content">
        <div class="content_titulos">
        <h3>Artitas Urbana</h3>
        </div>

        <div class="content_cards"></div>
      </div>

      <div id="content_Artistasvallenato" class="content">
        <div class="content_titulos">
        <h3>Artitas vallenato</h3>
        </div>

        <div class="content_cards"></div>
      </div>

      <div id="content_ArtistasmusicaPopular" class="content">
        <div class="content_titulos">
        <h3>Artitas popular</h3>
        </div>

        <div class="content_cards"></div>
      </div>

      <div id="content_Artistasregueton" class="content">
        <div class="content_titulos">
        <h3>Artitas regueton</h3>
        </div>

        <div class="content_cards"></div>
      </div>
</main>