<main>
    <div id="content_Artistasrock" class="content">
      <h3>Artitas Rock</h3>
        <a href="#Generos" class="ver-mas">Ver más</a>
      </div>

      <div id="content_Artistaspop" class="content">
        <h3>Artitas pop</h3>
        <a href="#Artistas" class="ver-mas">Ver más</a>
      </div>

      <div id="content_ArtistasmusicaUrbana" class="content">
        <h3>Artitas Urbana</h3>
        <a href="#Albumes" class="ver-mas">Ver más</a>
      </div>

      <div id="content_Artistasvallenato" class="content">
        <h3>Artitas vallenato</h3>
        <a href="#Canciones" class="ver-mas">Ver más</a>
      </div>

      <div id="content_ArtistasmusicaPopular" class="content">
        <h3>Artitas popular</h3>
        <a href="#Canciones" class="ver-mas">Ver más</a>
      </div>

      <div id="content_Artistasregueton" class="content">
        <h3>Artitas regueton</h3>
        <a href="#Canciones" class="ver-mas">Ver más</a>
      </div>

</main>