<main>
    <div id="content_Albumrock" class="content">
      <h3>Album Rock</h3>
        <a href="#Generos" class="ver-mas">Ver más</a>
      </div>

      <div id="content_Albumpop" class="content">
        <h3>Album pop</h3>
        <a href="#Artistas" class="ver-mas">Ver más</a>
      </div>

      <div id="content_AlbumMusicaUrbana" class="content">
        <h3>Album Urbana</h3>
        <a href="#Albumes" class="ver-mas">Ver más</a>
      </div>

      <div id="content_Albumvallenato" class="content">
        <h3>Album vallenato</h3>
        <a href="#Canciones" class="ver-mas">Ver más</a>
      </div>

      <div id="content_AlbumMusicaPopular" class="content">
        <h3>Album popular</h3>
        <a href="#Canciones" class="ver-mas">Ver más</a>
      </div>

      <div id="content_Albumregueton" class="content">
        <h3>Album regueton</h3>
        <a href="#Canciones" class="ver-mas">Ver más</a>
      </div>

</main>