<main id="main">
      <div id="content_generoMusicales" class="content">
        <div class="content_titulos">
        <h3>Géneros Musicales</h3>
        <a href="#Generos" class="ver-mas">Ver más</a>
        </div>
        <div class="content_cards" id="">
          <!--Se generan las cards-->
        </div>
      </div>

      <div id="content_ArtistasMusicales" class="content">
        <h3>Artistas Mas Escuchados</h3>
        <a href="#Artistas" class="ver-mas">Ver más</a>
      </div>

      <div id="content_Albumes" class="content">
        <h3>Albumes Mas Escuchados</h3>
        <a href="#Albumes" class="ver-mas">Ver más</a>
      </div>

      <div id="content_canciones" class="content">
        <h3>Canciones Mas Escuchadas</h3>
        <a href="#Canciones" class="ver-mas">Ver más</a>
      </div>
</main>
