<main>
  <div id="content_cancionRock" class="content">
    <div class="content_titulos">
      <h3>Canciones Rock</h3>
      <a href="#Generos" class="ver-mas">Ver más</a>
    </div>

    <div class="content_cards"></div>
  </div>

  <div id="content_cancionPop" class="content">
    <div class="content_titulos">
    <h3>Canciones pop</h3>
    <a href="#Artistas" class="ver-mas">Ver más</a>
    </div>
    <div class="content_cards"></div>
  </div>

  <div id="content_cancionUrbana" class="content">
    <div class="content_titulos">
      <h3>Canciones Urbana</h3>
      <a href="#Albumes" class="ver-mas">Ver más</a>
    </div>
    <div class="content_cards"></div>
  </div>

  <div id="content_cancionVallenato" class="content">
    <div class="content_titulos">
      <h3>Canciones vallenato</h3>
      <a href="#Canciones" class="ver-mas">Ver más</a>
    </div>
    <div class="content_cards"></div>
  </div>

  <div id="content_cancionPopular" class="content">
    <div class="content_titulos">
      <h3>Canciones popular</h3>
      <a href="#Canciones" class="ver-mas">Ver más</a>
    </div>
    <div class="content_cards"></div>
  </div>

  <div id="content_cancionRegueton" class="content">
    <div class="content_titulos">
      <h3>Canciones regueton</h3>
      <a href="#Canciones" class="ver-mas">Ver más</a>
    </div>
    <div class="content_cards"></div>
  </div>
</main>